<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-1 border">
        <img src="./assets/brands/brand-1.png">
    </div>
    <div class="col-1 border">
        <img src="./assets/brands/brand-2.png">
    </div>
    <div class="col-1 border">
        <img src="./assets/brands/brand-3.png">
    </div>
    <div class="col-1 border">
        <img src="./assets/brands/brand-4.png">
    </div>
    <div class="col-1 border">
        <img src="./assets/brands/brand-5.png">
    </div>
    <div class="col-1 border">
        <img src="./assets/brands/brand-6.png">
    </div>
    <div class="col-1 border">
        <img src="./assets/brands/brand-7.png">
    </div>
    <div class="col-1 border">
        <img src="./assets/brands/brand-8.png">
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-1 border">
        <img src="./assets/brands/brand-9.png">
    </div>
    <div class="col-1 border">
        <img src="./assets/brands/brand-10.png">
    </div>
    <div class="col-1 border">
        <img src="./assets/brands/brand-11.png">
    </div>
    <div class="col-1 border">
        <img src="./assets/brands/brand-12.png">
    </div>
    <div class="col-1 border">
        <img src="./assets/brands/brand-13.png">
    </div>
    <div class="col-1 border">
        <img src="./assets/brands/brand-14.png">
    </div>
    <div class="col-1 border">
        <img src="./assets/brands/brand-15.png">
    </div>
    <div class="col-1 border">
        <img src="./assets/brands/brand-16.png">
    </div>
    <div class="col-2"></div>
</div>