<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
    <div class="d-flex">
        <div>
            <a class="navbar-brand" href="#">
                <img src="./assets/logo/logo.png" height="50" alt="uitoux">
            </a>
        </div>
        <div class="mt-2">
            <span class="bg-warning p-2 pt-0"><span><img src="./assets/svg/car.svg" alt="car"></span>
            <span class="mx-2">Vehicle</span></span>
        </div>
        <div>
            <div class="input-group">
                <input class="form-control" type="search" />
                <span class="input-group-append">
                    <img src="./assets/svg/search.svg">
                </span>
            </div>
        </div>
    </div>
    <div class="d-flex">
    </div>
</nav>

<img src="./assets/svg/24-hours.svg">
<img src="./assets/svg/car.svg">
<img src="./assets/svg/cart.svg">
<img src="./assets/svg/cart-20.svg">
<img src="./assets/svg/free-delivery.svg">
<img src="./assets/svg/heart.svg">
<img src="./assets/svg/payment-security.svg">
<img src="./assets/svg/person.svg">
<img src="./assets/svg/quickview.svg">
<img src="./assets/svg/search.svg">
<img src="./assets/svg/tag.svg">