<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
    <div class="d-flex">
        <div>
            <a class="navbar-brand" href="#">
                <img src="./assets/logo/logo.png" height="50" alt="uitoux">
            </a>
        </div>
        <div class="mt-1">
            <select class="custom-select my-1 mr-sm-2 bg-warning" id="vehicleSelection">
                <option selected >
                    <span><img src="./assets/svg/cart.svg" alt="car" /></span> &nbsp; Select Vehicle
                </option>
                <option value="1">Car</option>
                <option value="2">Truck</option>
            </select>
        </div>
        <div class="mt-2 mx-3">
            <div class="input-group">
                <input type="search" class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text"><img src="./assets/svg/search.svg"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <div class="mx-3"><img src="./assets/svg/heart.svg" alt="wishlist"></div>
        <div class="d-flex mx-3">
            <div><img src="./assets/svg/person.svg"></div>
            <div class="user-icon mx-2">
                <div class="login-message text-muted">Hello, Log In</div>
                <div class="font-weight-bold">My Account</div>
            </div>
        </div>
        <div class="d-flex mx-3">
            <div><img src="./assets/svg/cart.svg"></div>
            <div class="user-icon mx-2">
                <div class="login-message text-muted">Shopping Cart</div>
                <div class="font-weight-bold">{{'1468.60' | currency:"INR":"symbol"}}</div>
            </div>
        </div>
    </div>
</nav>

<img src="./assets/svg/24-hours.svg">
<img src="./assets/svg/car.svg">
<img src="./assets/svg/cart.svg">
<img src="./assets/svg/cart-20.svg">
<img src="./assets/svg/free-delivery.svg">
<img src="./assets/svg/heart.svg">
<img src="./assets/svg/payment-security.svg">
<img src="./assets/svg/person.svg">
<img src="./assets/svg/quickview.svg">
<img src="./assets/svg/search.svg">
<img src="./assets/svg/tag.svg">