.top-left {
    margin-top: -11rem;
    margin-left: 3rem
}
.image-header {
    color: yellow;
    font-size: 2rem;
    font-weight: 700;
    font-family: inherit;
}
.image-content {
    color: white;
    width: 65%;
}