<div class="row mt-5">
    <div class="col-1"></div>
    <div class="col-10 d-flex justify-content-between">
        <app-banner-image [picture]="'./assets/banner/banner1.jpeg'" 
        header="MOTOR OILS" content="synthetic motor oil with free shipping friction free life guaranteed"></app-banner-image>
        <app-banner-image [picture]="'./assets/banner/banner2.jpeg'" header="SAVE UP TO $40" content="luxurious interior part for real aesthetes leather, fabric, ivory and more."></app-banner-image>
    </div>
    <div class="col-1"></div>
</div>